# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# env/IDE
.venv/
.env
.vscode/
.idea/

# data & artifacts
data/
experements/
splits/*.json
reports/
outputs/
runconfig/
checkpoints/
*.pt
*.ckpt
*.pth

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
# installers
miniconda.sh
